[Unit]
Description=Verigo application and data backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/verigo-backup
